.service-container{
    background-color:  #a9acaf
}

/* .service-div{
    background-image: url('../../Images/sticky_img.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
} */

.service-bg{
    background-image: url('../../Images/service_txt2.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:  5px 5px 10px 5px black;
    opacity: 0.6;
    width: 100%;
    height: 63vh;
    position: relative;
}

.service-header{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: rgb(18, 18, 18);
    font-size: 60px;
    font-weight: 900;
    
}

.service-row{
    width: 85%;
}

@media (max-width: 767px) {
    .service-container{
        overflow-x: hidden !important;
    }
    .service-bg{
        width: 100%;
        height: 53vh;
        box-shadow:  none;
    }
    .service-header{
        top: 15%;
        left: 45%;
        font-size: 30px ;
        white-space:nowrap !important
    }
    .service-row{
        width: 100% !important;
        margin: 0 auto !important;
        /* text-align: center !important; */
    }
    
}

@media (min-width: 767px) and (max-width: 991px){
    /* .service-container{
        overflow-x: hidden !important;
    } */
    .service-row{
        width: 70% !important;
        margin: 0 auto !important;
        text-align: center !important;
    }
    .service-bg{
        width: 100%;
        height: 53vh;
    }
    .service-header{
        top: 55%;
        left: 25%;
        font-size: 35px ;
    }
}
