.quote-l{
    font-size: 35px;
    text-align: start;
}
.quote-r{
    font-size: 15px;
}

.slogan-text{
    font-size: 30px;
    color: white;
}

.author{
    font-size: 40px;
    font-weight: 500;
    color: white;
    font-family: 'Island Moments', cursive
}

.slogan-p{
    font-size: 33px;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    text-shadow: 2px 2px orange;
}

.slogan-subtext{
    font-size: 19px;
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: 0.5px;
}

/* .slogan-card1{
    animation: fadeInLeft;
    animation-duration: 3s;
} */

@media (max-width: 767px) {
    /* Styles for mobile devices */
    .slogan-text{
        font-size: 18px;
    }
    .quote-l{
        font-size: 25px;
        text-align: start;
    }
    .author{
        font-size: 28px;
        font-weight: 500;
        
    }
    .slogan-card1{
        width: 95% !important ;
        margin: 0 auto !important;
    }
    .slogan-card2{
        width: 80% !important ;
        height: 37vh !important;
        margin: 0px auto !important;
    }
  }

@media (min-width: 767px) and (max-width: 991px) {
    /* Styles for tablets */
    .slogan-text{
        font-size: 22px;
    }
    .quote-l{
        font-size: 30px;
        text-align: start;
    }
    .author{
        font-size: 32px;
        font-weight: 500;
    }
    .slogan-card1{
        width: 90% !important ;
        margin: 0 auto !important;
    }
    .slogan-card2{
        width: 75% !important ;
        height: 37vh !important;
        margin-left: -25px !important;
    }
  }

@media (min-width: 991px) {
    /* Styles for desktop */
  }