.about-container{
    background: linear-gradient(to right bottom, #e5e9e5, #d4dad8, #c4cbcb, #b6bbbd, #a9acaf, #a8abae, #a8abae, #a7aaad, #b2b8b9, #bfc5c5, #cdd3d1, #dce0dc);
}

/* .about-text{
    background-image: url('../../Images/sketch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 55vh;
    opacity: 0.5;
   
} */

@media (max-width: 767px){
    .about-text{
        font-size: 30px !important;
    }
}

@media (min-width: 767px) and (max-width: 991px){
    .about-text{
        font-size: 40px !important;
    }

    .about-row{
        display: block !important;
        
    }

    .about-img{
        width: 75% !important;
        margin: 0 auto !important;
        padding: 10px !important;
        text-align: center !important;
    }

    .about-text{
        width: 100% !important;
        text-align: center !important;
    }

    .about-p{
        width: 75% !important;
        margin: 0 auto !important;
        padding-bottom: 20px !important;
        text-align: justify !important;
    }
}












