.about-container{
    background: linear-gradient(to right bottom, #e5e9e5, #d4dad8, #c4cbcb, #b6bbbd, #a9acaf, #a8abae, #a8abae, #a7aaad, #b2b8b9, #bfc5c5, #cdd3d1, #dce0dc);
}

/* .about-text{
    background-image: url('../../Images/sketch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 55vh;
    opacity: 0.5;
   
} */








