.icon-bg{
    font-size: 30px;
    color: rgb(41, 171, 74);
}

form input, .contact-text{
    width: 75%;
    margin-top: 25px;
    
    /* background-image: linear-gradient(to top,  #b9b9b9, #777777); */
}

.contact-info{
    margin-left: 110px;
}

.contact-btn{
    background: rgb(249, 227, 200);
    width: 30%;
    padding: 12px;
    border-radius: 10px;
    color: rgb(41, 171, 74);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.submit-icon{
    font-size: 18px;
}

@media (max-width: 767px){
   
    .contact-title{
        text-align: center;
        text-decoration: underline;
}
    .contact-info{
        width: 100%;
        margin: 0 auto !important;
        padding-top: 20px !important;
        white-space:pre !important;
    }
    .icons{
        margin-top: 15px;
        font-size: 13px;
        text-align: center;
        letter-spacing: -0.9px;
    }
    .icon-bg{
        align-items: center;
        font-size: 28px !important;
        display: flex;
        flex-direction: column; 
    }
    .form-title{
        margin-top: 40px;
        text-decoration: underline;
    }
    .contact-form{
        padding-top: 5px !important;
    }

    form input, .contact-text{
        width: 80%;
    }
    .contact-btn{
        width: 50%;
    }
}

@media (min-width: 767px) and (max-width: 991px){
    .contact-row{
        display: block !important;
        
    }
    .contact-col, .form-col{
        width: 80%;
        margin: 0 auto !important;
    }
    .contact-title{
        text-align: center;
        text-decoration: underline;
}
    .contact-info{
        width: 80%;
        margin: 15px auto !important;
        padding-top: 20px !important;
        white-space:pre !important;
    }
    .icons{
        margin-top: 15px;
        font-size: 13px;
        text-align: center;
        letter-spacing: -0.9px;
    }
    /* .icon-bg{
        align-items: center;
        font-size: 28px !important;
        display: flex;
        flex-direction: column; 
    } */
    .form-title{
        margin-top: 50px;
        text-decoration: underline;
    }
    .contact-form{
        padding-top: 5px !important;
    }

    form input, .contact-text{
        width: 80%;
    }
    .contact-btn{
        width: 50%;
    }
}